html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #D3BEBE;
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  color: #AD3131;
}

*{
	margin: 0;
	padding: 0;
}

a{
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

#header1{
  margin: 0px;
	width: 100%; 
	height: 100px; 
	background-color: #BE4C4C;
}

#header2{
  margin: 0px;
  width:100%;
  height: 25px;
  background-color: #AD3131;
  font-size: 23px;
}

#footer{
  color: white;
  text-align: center;
  background-color: #AD3131;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 2px solid #AD3131;
  border-right: 2px solid #AD3131;
}

#navBar{
	float: right; 
  list-style: none;
	font-size: 17px; 
	text-shadow: 1px 1px 1px black; 
  font-weight: bold;
}

#navBar >  li{
	float: left;     
	padding-left: 25px; 
}

#navBar > li > a{
  text-decoration: none;
  color: white;
}

#navBar > li > a:hover{
  color: #FFAFAF;
}

#header-logo{
  height: 90px;
  margin-top: 7px;
}

div.sub{
  width: 60%;
  margin: auto;
}

#content{
  background-color: #F0F0F0;
  padding: 15px;
  min-height: calc(100% - 175px);
  border-left: 2px solid #AD3131;
  border-right: 2px solid #AD3131;
}

div.left{
  width: calc(100% - 210px);
  float: left;
}

div.right{
  width: 200px;
  height: 74%;
  border-left: 2px solid #AD3131;
  position: absolute;
  right: 18%;
  padding: 10px;
}

form{
	margin: 0; 
	width: 300px; 
}