html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #C7C7C7;
}

*{
	margin: 0;
	padding: 0;
}

#header1{
  margin: 0px;
	width: 100%; 
	height: 100px; 
	background-color: #610000;
}

#header2{
  margin: 0px;
  width:100%;
  height: 25px;
  background-color: #AD3131;
  font-size: 23px;
}

#navBar{
	float: right; 
  list-style: none;
	font-size: 19px; 
	text-shadow: 1px 1px 1px black; 
  font-weight: bold;
}

#navBar >  li{
	float: left;     
	padding-left: 25px; 
}

#header-logo{
  height: 90px;
  margin-top: 7px;
}

div.sub{
  width: 60%;
  margin: auto;
}

#content{
  min-height: calc(100% - 143px);
}