*{
	margin: 0;
	padding: 0;
}

#header{
	position: absolute;
	width: 100%; 
	height: 125px; 
	background-color: red;
	box-shadow: 1px 1px 1px black; 
}

#navBar{
	float: right; 
	padding-right: 100px; 
	font-size: 30px; 
	text-shadow: 1px 1px 1px black; 
}

#navBar > ul > li{
	padding-right: 25px; 
	float: left;  
	list-style: none; 
	border-right: 2px solid black;
	text-align: center; 
	padding-left: 25px; 
}

li:first-child{
	border-left: 2px solid black; 
}

#header-logo{
  height: 90px;
  margin-top: 20px;
  margin-left: 20px;
}